<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AcuLink_Bridge_Reader_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <AcuLink_Bridge_Reader_CSharp.Properties.Settings>
            <setting name="pressureOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wuStation" serializeAs="String">
                <value />
            </setting>
            <setting name="wuPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="networkDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="postToWunderground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postToWeatherBug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wbStation" serializeAs="String">
                <value />
            </setting>
            <setting name="wbPub" serializeAs="String">
                <value />
            </setting>
            <setting name="wbPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="writeToCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postToPws" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pwsStation" serializeAs="String">
                <value />
            </setting>
            <setting name="pwsPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="filterOnSensorId" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorType" serializeAs="String">
                <value>5n1</value>
            </setting>
        </AcuLink_Bridge_Reader_CSharp.Properties.Settings>
    </userSettings>
</configuration>
